{% extends 'base.html.twig' %}
{% block title %}Province | Madagascar{% endblock %}
{% block body %}
    <div class="main-panel">
        <div class="content-wrapper">
            <div class="row">
                <div class="col-md-6 d-flex align-items-stretch grid-margin">
                    <div class="row flex-grow">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">Modifier un province</h4>

                                    <p class="card-description">
                                    </p>
                                    {{ form_start(form, { 'attr': {'class': 'forms-sample'} }) }}
                                    <div class="form-group">
                                        <label for="name">Nom</label>
                                        {{ form_widget(form.name, { 'attr': {'class': 'form-control', 'placeholder': 'Nom'} }) }}
                                    </div>
                                    <div class="form-group">
                                        <label for="zipCode">Code postal</label>
                                        {{ form_widget(form.zipCode, { 'attr': {'class': 'form-control', 'placeholder': 'Code postal'} }) }}
                                    </div>

                                    <button type="submit" class="btn btn-success pull-right">Enregistrer</button>
                                    {{ form_end(form) }}
                                    <a href="{{ path('list_province') }}" class="btn btn-default pull-left"><span
                                                class="fa fa-arrow-left"></span>
                                        Annuler</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}