{% extends 'base.html.twig' %}
{% block title %}Region | Madagascar{% endblock %}
{% block body %}
    <div class="main-panel">
        <div class="content-wrapper">
            <div class="row">
                <div class="col-lg-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Liste des districts</h4>

                            <p class="card-description">
                                <a href="{{ path('create_district') }}" class="btn btn-success pull-left"><span
                                            class="fa fa-plus"></span>
                                    Ajouter un district</a>
                            </p>
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>Nom</th>
                                    <th>Région</th>
                                    <th class="text-center">#</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for district in districts %}
                                    <tr>
                                        <td>
                                            <a href="{{ path('show_district', { 'district': district.id }) }}">{{ district.name }}</a>
                                        </td>
                                        <td>
                                            <a href="{{ path('show_region', { 'region': district.region.id }) }}">{{ district.region.name }}</a>
                                        </td>
                                        <td class="text-center">
                                            <a class='btn btn-primary btn-xs'
                                               href="{{ path('edit_district', { 'district': district.id }) }}"><span
                                                        class="fa fa-pencil-square-o"></span> Modifier</a>
                                            <a href="{{ path('delete_district', { 'district': district.id }) }}"
                                               class="btn btn-danger btn-xs"><span
                                                        class="fa fa-remove"> Supprimer</span></a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}