{% extends 'base.html.twig' %}
{% block title %}Region | Madagascar{% endblock %}
{% block body %}
    <div class="main-panel">
        <div class="content-wrapper">
            <div class="row">
                <div class="col-lg-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title text-center display-4 text-primary"><span class="fa fa-home"></span>
                                District {{ district.name }}
                            </h4>

                            <p class="card-description text-center display-5">
                                <span>Region  :
                                    <a href="{{ path('show_district', { 'district': district.region.id }) }}">{{ district.region.name }}</a>
                                </span><br>
                                <span>Province  :
                                    <a href="{{ path('show_province', { 'province': district.region.province.id }) }}">{{ district.region.province.name }}</a>
                                </span>

                            </p>
                            <a href="{{ path('list_district') }}" class="btn btn-default pull-left"><span
                                        class="fa fa-arrow-left"></span>
                                Retour</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title text-primary"><u>Communes dans le district</u></h4>

                            <p class="card-description text-center display-5">
                            </p>
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th>Nom</th>
                                    <th>District</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for commune in district.communes %}
                                    <tr>
                                        <td>
                                            <a href="{{ path('show_commune', { 'commune': commune.id }) }}">{{ commune.name }}</a>
                                        </td>
                                        <td>
                                            <a href="{{ path('show_district', { 'district': commune.district.id }) }}">{{ commune.district.name }}</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title text-primary"><u>Projets des societés dans la district</u></h4>

                            <p class="card-description text-center display-5">
                            </p>
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th>Nom</th>
                                    <th>Description</th>
                                    {#<th>Date</th>#}
                                    <th>Province</th>
                                    <th>Region</th>
                                    <th>District</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for promesse in district.promesses %}
                                    <tr>
                                        <td>{{ promesse.name }}</td>
                                        <td>{{ promesse.description }}</td>
                                        {#<td>{{ promesse.date }}</td>#}
                                        <td>
                                            <a href="{{ path('show_province', { 'province': promesse.province.id }) }}">{{ promesse.province.name }}</a>
                                        </td>
                                        <td>
                                            <a href="{{ path('show_region', { 'region': promesse.region.id }) }}">{{ promesse.region.name }}</a>
                                        </td>
                                        <td>
                                            <a href="{{ path('show_district', { 'district': promesse.district.id }) }}">{{ promesse.district.name }}</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}