<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <title>Se connecter | Madagascar</title>
    {#{% block title %}Login!{% endblock %}#}
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('public/modules/mdi/css/materialdesignicons.min.css') }}">
        <link rel="stylesheet" href="{{ asset('public/modules/simple-line-icons/css/simple-line-icons.css') }}">
        <link rel="stylesheet" href="{{ asset('public/css/style.css') }}">
        <link rel="shortcut icon" href="{{ asset('public/images/favicon.png') }}"/>
    {% endblock %}
</head>
{% block body %}{% endblock %}
{% block javascripts %}
    <script src="{{ asset('public/modules/jquery/dist/jquery.min.js') }}"></script>
    <script src="{{ asset('public/modules/popper.js/dist/umd/popper.min.js') }}"></script>
    <script src="{{ asset('public/modules/bootstrap/dist/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('public/js/off-canvas.js') }}"></script>
    <script src="{{ asset('public/js/misc.js') }}"></script>
{% endblock %}

</html>
