<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Login!{% endblock %}</title>
    {% block stylesheets %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/png" href="{{ asset('public/img/mg.png') }}"/>
        <!-- CSS -->
        {#<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">#}
        <link rel="stylesheet" href="{{ asset('public/bootstrap/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('public/font-awesome/css/font-awesome.min.css') }}">
        <link rel="stylesheet" href="{{ asset('public/css/form-elements.css') }}">
        <link rel="stylesheet" href="{{ asset('public/css/style_security.css') }}">
    {% endblock %}
    <!--[if lt IE 9]>
    <script src="{{ asset('public/js/html5shiv.js') }}"></script>
    <script src="{{ asset('public/js/respond.min.js') }}"></script>
    <![endif]-->
</head>
<body>
{% block body %}{% endblock %}
{% block javascripts %}
    <script src="{{ asset('public/js/jquery-1.11.1.min.js') }}"></script>
    <script src="{{ asset('public/bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('public/js/jquery.backstretch.min.js') }}"></script>
    <script src="{{ asset('public/js/scripts.js') }}"></script>
{% endblock %}


</body>

</html>
