<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ title }}</title>
    {% block stylesheets %}
        <!-- plugins:css -->
        <link rel="stylesheet" href="{{ asset('public/modules/mdi/css/materialdesignicons.min.css') }}">
        <link rel="stylesheet" href="{{ asset('public/modules/simple-line-icons/css/simple-line-icons.css') }}">
        <!-- endinject -->
        <!-- plugin css for this page -->
        <!-- End plugin css for this page -->
        <!-- inject:css -->
        <link rel="stylesheet" href="{{ asset('public/css/style.css') }}">
        <!-- endinject -->
        <link rel="shortcut icon" href="{{ asset('public/images/mg.png') }}"/>
        <link href="{{ asset('public/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet"
              integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1"
              crossorigin="anonymous">
    {% endblock %}
</head>

<div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
        <div class="text-center navbar-brand-wrapper d-flex align-items-top justify-content-center">
            <h3 class="text-behance mt-3"><span class="fa fa-bullseye"></span> Madagascar</h3>
            {#<a class="navbar-brand brand-logo" href="{{ path('accueil') }}">#}
            {#<img src="{{ asset('public/images/logo.svg') }}" alt="logo"/>#}
            {#</a>#}
            {#<a class="navbar-brand brand-logo-mini" href="index.html">#}
            {#<img src="{{ asset('images/logo-mini.svg') }}" alt="logo"/>#}
            {#</a>#}
        </div>
        <div class="navbar-menu-wrapper d-flex align-items-center">
            <ul class="navbar-nav navbar-nav-right">
                <li class="nav-item dropdown">
                    <a class="nav-link count-indicator dropdown-toggle" id="messageDropdown" href="#"
                       data-toggle="dropdown" aria-expanded="false">
                        <i class="fa fa-user-md"></i>
                        <span class="text-white ml-2">{{ app.user.name }}</span>
                    </a>

                    <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list"
                         aria-labelledby="messageDropdown">
                        <div class="dropdown-item">
                            <p class="mb-0 font-weight-normal float-left">{{ app.user.email }}
                            </p>
                            <a href="{{ path('logout') }}" class="btn btn-link">Deconnexoin</a>
                        </div>
                    </div>
                </li>
                <li class="nav-item d-none d-lg-block">
                    <a class="nav-link" href="#">
                        <img class="img-xs rounded-circle" src="images/faces/face4.jpg" alt="">
                    </a>
                </li>
            </ul>
            <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button"
                    data-toggle="offcanvas">
                <span class="icon-menu"></span>
            </button>
        </div>
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_sidebar.html -->
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
            <ul class="nav">
                <li class="{{ is_active("main", value) }} nav-item">
                    <a class="nav-link" href="{{ path('accueil') }}">
                        <img class="menu-icon" src="{{ asset('public/images/menu_icons/01.png') }}" alt="menu icon">
                        <span class="menu-title">Accueil</span></a>
                </li>
                <li class="{{ is_active("province", value) }} nav-item">
                    <a class="nav-link" href="{{ path('list_province') }}">
                        <img class="menu-icon" src="{{ asset('public/images/menu_icons/01.png') }}" alt="menu icon">
                        <span class="menu-title">Provinces</span></a>
                </li>
                <li class="{{ is_active("region", value) }} nav-item">
                    <a class="nav-link" href="{{ path('list_region') }}">
                        <img class="menu-icon" src="{{ asset('public/images/menu_icons/01.png') }}" alt="menu icon">
                        <span class="menu-title">Regions</span></a>
                </li>
                <li class="{{ is_active("district", value) }} nav-item">
                    <a class="nav-link" href="{{ path('list_district') }}">
                        <img class="menu-icon" src="{{ asset('public/images/menu_icons/01.png') }}" alt="menu icon">
                        <span class="menu-title">Districts</span></a>
                </li>
                <li class="{{ is_active("commune", value) }} nav-item">
                    <a class="nav-link" href="{{ path('list_commune') }}">
                        <img class="menu-icon" src="{{ asset('public/images/menu_icons/01.png') }}" alt="menu icon">
                        <span class="menu-title">Communes</span></a>
                </li>
                <li class="{{ is_active("fokontany", value) }} nav-item">
                    <a class="nav-link" href="{{ path('list_fokontany') }}">
                        <img class="menu-icon" src="{{ asset('public/images/menu_icons/01.png') }}" alt="menu icon">
                        <span class="menu-title">Fokontany</span></a>
                </li>
                <li class="{{ is_active("promesse", value) }} nav-item">
                    <a class="nav-link" href="{{ path('list_promesse') }}">
                        <img class="menu-icon" src="{{ asset('public/images/menu_icons/01.png') }}" alt="menu icon">
                        <span class="menu-title">Projets des societés</span></a>
                </li>
                <li class="{{ is_active("stat", value) }} nav-item">
                    <a class="nav-link" href="{{ path('stat') }}">
                        <img class="menu-icon" src="{{ asset('public/images/menu_icons/01.png') }}" alt="menu icon">
                        <span class="menu-title">Statistiques</span></a>
                </li>
                {#<li class="nav-item">#}
                {#<a class="nav-link" data-toggle="collapse" href="#general-pages" aria-expanded="false"#}
                {#aria-controls="general-pages"> <img class="menu-icon" src="images/menu_icons/08.png"#}
                {#alt="menu icon"> <span#}
                {#class="menu-title">General Pages</span><i class="menu-arrow"></i></a>#}

                {#<div class="collapse" id="general-pages">#}
                {#<ul class="nav flex-column sub-menu">#}
                {#<li class="nav-item"><a class="nav-link" href="pages/samples/blank-page.html">Blank#}
                {#Page</a></li>#}
                {#<li class="nav-item"><a class="nav-link" href="pages/samples/login.html">Login</a></li>#}
                {#<li class="nav-item"><a class="nav-link" href="pages/samples/register.html">Register</a>#}
                {#</li>#}
                {#<li class="nav-item"><a class="nav-link" href="pages/samples/error-404.html">404</a>#}
                {#</li>#}
                {#<li class="nav-item"><a class="nav-link" href="pages/samples/error-500.html">500</a>#}
                {#</li>#}
                {#</ul>#}
                {#</div>#}
                {#</li>#}
            </ul>
        </nav>
        {% block body %}{% endblock %}

    </div>
</div>
{% block javascripts %}
    <script src="{{ asset('public/modules/jquery/dist/jquery.min.js') }}"></script>
    <script src="{{ asset('public/modules/popper.js/dist/umd/popper.min.js') }}"></script>
    <script src="{{ asset('public/modules/bootstrap/dist/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('public/modules/chart.js/dist/Chart.min.js') }}"></script>
    <script src="{{ asset('public/js/off-canvas.js') }}"></script>
    <script src="{{ asset('public/js/misc.js') }}"></script>
    <script src="{{ asset('public/js/dashboard.js') }}"></script>
    <script src="{{ asset('public/js/chart.js') }}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB5NXz9eVnyJOA81wimI8WYE08kW_JMe8g&callback=initMap"
            async defer></script>
    <script src="{{ asset('public/js/maps.js') }}"></script>
{% endblock %}
{% block additionnals %}
{% endblock %}

</html>