{% extends 'base.html.twig' %}
{% block title %}Accueil | Madagascar{% endblock %}
{% block body %}
    <h1 class="entete-title">Statistiques</h1>
    <div class="row">
    <div class="col-md-12 text-center">
        <ul>
            <li class="menu-stat"><a href="{{ path('stat') }}">Statistique</a></li>
            {#<li class="menu-stat"><a href="{{ path('cam') }}">Camembert</a></li>#}
            <li class="menu-stat"><a href="{{ path('hist') }}">Histogramme</a></li>
        </ul>
    </div>
    <div class="row">
        <div class="row col-md-6 col-md-offset-2 custyle">
            <h3 class="section-title">Statistique par province</h3>
            <table class="table table-striped custab">
                <thead>
                <tr>
                    <th>PROVINCE</th>
                    <th>A FAIRE</th>
                    <th>FAIT</th>
                    <th>POURCENTAGE</th>
                </tr>
                </thead>
                {% for data in province_datas %}
                    <tr>
                        <td>{{ data['PROVINCE'] }}</td>
                        <td>{{ data['A FAIRE'] }}</td>
                        <td>{{ data['FAIT'] }}</td>
                        <td>{{ data['POURCENTAGE'] }} %</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <div class="row col-md-6 col-md-offset-2 custyle">
            <h3 class="section-title">Statistique par region</h3>
            <table class="table table-striped custab">
                <thead>
                <tr>
                    <th>REGION</th>
                    <th>A FAIRE</th>
                    <th>FAIT</th>
                    <th>POURCENTAGE</th>
                </tr>
                </thead>
                {% for data in region_datas %}
                    <tr>
                        <td>{{ data['REGION'] }}</td>
                        <td>{{ data['A FAIRE'] }}</td>
                        <td>{{ data['FAIT'] }}</td>
                        <td>{{ data['POURCENTAGE'] }} %</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <div class="row col-md-6 col-md-offset-2 custyle">
            <h3 class="section-title">Statistique par district</h3>
            <table class="table table-striped custab">
                <thead>
                <tr>
                    <th>DISTRICT</th>
                    <th>A FAIRE</th>
                    <th>FAIT</th>
                    <th>POURCENTAGE</th>
                </tr>
                </thead>
                {% for data in district_datas %}
                    <tr>
                        <td>{{ data['DISTRICT'] }}</td>
                        <td>{{ data['A FAIRE'] }}</td>
                        <td>{{ data['FAIT'] }}</td>
                        <td>{{ data['POURCENTAGE'] }} %</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}