{% extends 'base.html.twig' %}
{% block title %}Promesse | Madagascar{% endblock %}
{% block body %}
    <div class="row">
    <div id="formulaire" class="col-md-6 col-md-offset-3">
    <div class="well well-sm">
        {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
        <fieldset>
            <legend class="text-center">Modifier une Promesse</legend>

            <div class="form-group">
                <label class="col-md-3 control-label" for="name">Name</label>
                <div class="col-md-9">
                    {{ form_widget(form.name, { 'attr': {'class': 'form-control', 'placeholder': 'Nom'} }) }}
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label" for="description">Déscription</label>
                <div class="col-md-9">
                    {{ form_widget(form.description, { 'attr': {'class': 'form-control', 'placeholder': 'Déscription'} }) }}
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label" for="region">Date</label>
                <div class="col-md-9">
                    {{ form_widget(form.date, { 'attr': {'class': 'datepicker', 'placeholder': 'Date'} }) }}
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label" for="province">Province</label>
                <div class="col-md-9">
                    {{ form_widget(form.province, { 'attr': {'class': 'form-control', 'placeholder': 'Province'} }) }}
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label" for="province">Région</label>
                <div class="col-md-9">
                    {{ form_widget(form.region, { 'attr': {'class': 'form-control', 'placeholder': 'Région'} }) }}
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label" for="district">District</label>
                <div class="col-md-9">
                    {{ form_widget(form.district, { 'attr': {'class': 'form-control', 'placeholder': 'District'} }) }}
                </div>
            </div>

            <!-- Form actions -->
            <div class="form-group">
                <div class="col-md-12 text-right">
                    <button type="submit" class="btn btn-primary btn-lg">Enregistrer</button>
                </div>
            </div>
        </fieldset>
        {{ form_end(form) }}
    </div>
{% endblock %}